*

!.devcontainer
!.devcontainer/*

!frontend/
!frontend/**

!legal_dashboard/
!legal_dashboard/**

!mongo/
!mongo/**

!notebooks/
!notebooks/**

!.gitignore
!.pre-commit-config.yaml
!.python-version
!uv.lock
!pyproject.toml
!README.md

**/__pycache__/